.idea/
*.pyc
outputs/
.venv/
__pycache__/
.vscode/
.DS_Store
surogate/_version.py
*.egg-info/
package-lock.json
uv.lock
results
data
.deepeval
*.loader
*.lock
eval_results/
.deepteam
output/
.aim/
.deepeval/
